/* External Styles */
/* app wide css */

/* Embedding Font using CSS3 @font-face rule */
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

/* Element Selector */
body{
  font-family: Montserrat;
  margin: 0;
}

/* Class Selector */
.appLogoBox{
  width: 100px;
}

.primaryNav ul li{
  display: inline;
  padding: 0 15px;
  list-style: none;
}

/* Attribute Selector */
[type='button']{
  background-color: deepskyblue;
  border: deepskyblue;
  font-size: 24px;
  padding: 10px 26px; /* top right bottom left  */
}

a{
  color: rgb(0 42 106);
  background-color: #eeeeee;
  text-decoration: none;
}

/* Pseudo Selector */
a:hover{
  color: red;
  background-color: yellow;
  text-decoration: underline;
}

a:visited{
  color: white;
  background-color: purple;
  text-decoration: underline;
}

.primaryNav ul li:nth-child(5){
  border: solid 5px red;
}

article:target {
  background-color: gold;
}

/* for About page */
.aboutUsText{
  text-shadow: 3px 3px 1px red; /*offset-x offset-y blur-radius color */
}

#testimonials{
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 50px 0;
}